<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/pos</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hbm2ddl.auto">create-drop</property>

		<mapping class="com.bartolay.inventory.entity.Category" />
		<mapping class="com.bartolay.inventory.entity.Employee" />
		<mapping class="com.bartolay.inventory.entity.Invoice" />
		<mapping class="com.bartolay.inventory.entity.Product" />
		<mapping class="com.bartolay.inventory.entity.Purchase" />
		<mapping class="com.bartolay.inventory.entity.Sale" />
		<mapping class="com.bartolay.inventory.entity.Supplier" />
	</session-factory>
</hibernate-configuration>
